
Introduction to TensorFlow for AI, ML, and DL/Week4/horse-or-human.zip
Convolutional Neural Networks in TensorFlow/Week1/C2_W1_Assignment/cats-and-dogs.zip
Convolutional Neural Networks in TensorFlow/Week4/rps-test-set.zip
Convolutional Neural Networks in TensorFlow/Week4/rps.zip
Natural Language Processing in TensorFlow/Week3/C3_W3_Assignment/data/glove.6B.100d.txt
Natural Language Processing in TensorFlow/Week3/C3_W3_Assignment/data/training_cleaned.csv
